# Ignore Composer's vendor directory
/vendor/
composer.lock

# Ignore the environment configuration file (contains sensitive information)
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE/editor files
/.vscode/
/.idea/
/*.sublime-project
/*.sublime-workspace

# Ignore log files
*.log

# Ignore PHPUnit or other testing results
phpunit.xml
phpunit.xml.dist
